table,td,th{
    border: 2px solid purple;
}
table{
    border-collapse:collapse
}

.list{
    background-color: blue;
    color: #fff;
    width: 400px;
}
.content{
    font-size: 20px;
    border: 2px solid;
    width: 300px;
}

.content-show{
    background: orange;
    color: blue;
}

.content-hide{
    background: green;
    color: purple;
}

label,.error-msg{
    display:block;
}
.required,.error-msg{
    color: red;
}